<div class='col-md-2 col-xs-12 right-menu right-hand-menu'>
  <nav>
  <!-- Title -->
  <%= link_to(welcome_index_path) do  %>
    <div class='sidebar-module'>
      <h2 class='text-center right-menu-title'>Million Stories</h2>
    </div>
  <% end %>
  <br/>
  <!-- /Title -->
    <!-- Map module -->
    <div class='sidebar-module'>
      <div class="col-md-12 col-sm-4">
      <%= link_to(map_path) do %>
        <button class='btn btn-default btn-block right-menu-button' role='button'>MAP</button>
      <% end %>
      </div>
    <!-- /Map module -->

    <!-- About us module -->
      <div class="col-md-12 col-sm-4">
        <%= link_to(about_us_index_path) do %>
            <button class='btn btn-default btn-block right-menu-button' role='button'>ABOUT</button>
        <% end %>
      </div>
    <!-- /About us module -->

    <!-- Contact module -->
      <div class="col-md-12 col-sm-4">
        <%= link_to(contact_url) do %>
            <button class='btn btn-default btn-block right-menu-button' role='button'>CONTACT</button>
        <% end %>
      </div>
    <!-- /Contact module -->

    </div>
    <div class="col-md-12">
      <hr>
    </div>
    <br/>



    <!-- Social Media Links -->
    <div class='sidebar-module'>
      <div class="col-xs-offset-1 col-lg-offset-2 col-md-offset-2 col-sm-offset-4">
      <div class='col-xs-12 col-lg-12 col-md-10 col-sm-10'>
        <!-- 1st row -->
        <div class='list-group row'>

          <a class='right-menu-social-buttons facebook-hover col-xs-2' href='#' role='button'>
            <p class='right-menu-social-icons'>F</p>
          </a>
          <a class='right-menu-social-buttons twitter-hover col-xs-2' href='#' role='button'>
            <p class='right-menu-social-icons'>L</p>
          </a>
          <a class='right-menu-social-buttons instagram-hover col-xs-2' href='#' role='button'>
            <p class='right-menu-social-icons-socialico-plus'>I</p>
          </a>
          <a class='right-menu-social-buttons tumblr-hover col-xs-2' href='#' role='button'>
            <p class='right-menu-social-icons'>O</p>
          </a>
          <a class='right-menu-social-buttons pinterest-hover col-xs-2' href='#' role='button'>
            <p class='right-menu-social-icons-socialico-plus'>P</p>
          </a>
          <a class='right-menu-social-buttons vimeo-hover col-xs-2' href='#' role='button'>
            <p class='right-menu-social-icons'>V</p>
          </a>

        </div>
      </div>
      </div>
   </div>
    <div class=" col-xs-12 col-md-12">
      <hr>
    </div>
    <!-- /Social Media Links -->
  </nav>

  <!-- Copyright module -->
  <div class='sidebar-module'>
    <div class='col-md-12 col-xs-12 bottom-element'>
      <div>
        <p class='text-center'>Copyright</p>
        <p class='text-center'>Anna Huk</p>
        <p class='text-center'>and</p>
        <p class='text-center'>Michal Zagrodzki</p>

        <% unless user_signed_in? %>
          <%= link_to(new_user_session_path) do %>
            <button class='btn btn-default btn-block load-more-stories-button' role='button'>Log In</button>
            <hr>
            <br>
            <br>
          <% end %>
        <% end %>

        <% if user_signed_in? %>
          <%= link_to(destroy_user_session_path, method: :delete) do %>
            <button class='btn btn-default btn-block' role='button'>Log Out</button>
            <hr>
          <% end %>
        <% end %>

      </div>
    </div>
  </div>
  <!-- /Copyright module -->

  <!-- Admin module -->
  <% if user_signed_in? %>

    <div class='sidebar-module'>

      <ul class='list-unstyled'>
        <%= link_to(new_story_path) do %>
          <li>
            <button class='btn btn-default btn-block' role='button'>Create Story</button>
          </li>
        <% end %>
        <br>
        <%= link_to(new_picture_path) do %>
          <li>
            <button class='btn btn-default btn-block' role='button'>Upload Pictures</button>
          </li>
          <br>
        <% end %>
      </ul>
    </div>

  <% end %>
  <!-- /Admin module -->

</div>

<% content_for :stick_menu do %>
  <!-- Loading stick_right_menu -->
  <script type="text/javascript" src="stick.js"></script>
<% end %>