<div class='col-md-2 right-menu right-hand-menu'>
  <!-- Title -->
  <%= link_to(welcome_index_path) do  %>
    <div class='sidebar-module'>
      <h2 class='text-center right-menu-title'>Million Stories</h2>
    </div>
  <% end %>
  <br/>
  <!-- /Title -->

  <!-- Map module -->
  <div class='sidebar-module'>
    <%= link_to(map_path, data: { no_turbolink: true } ) do %>
      <button class='btn btn-default btn-block right-menu-button' role='button'>MAP</button>
    <% end %>
  </div>

  <!-- /Map module -->

  <!-- Contact module -->
  <div class='sidebar-module'>
    <ul class='list-unstyled'>
      <%= link_to(about_us_index_path, data: { no_turbolink: true } ) do %>
        <li>
          <button class='btn btn-default btn-block right-menu-button' role='button'>ABOUT</button>
        </li>
      <% end %>
      <%= link_to(contact_url, data: { no_turbolink: true }) do %>
        <li>
          <button class='btn btn-default btn-block right-menu-button' role='button'>CONTACT</button>
        </li>
      <% end %>
    </ul>
  </div>
  <br/>
  <hr>
  <!-- /Contact module -->

  <!-- Social Media Links -->
  <div class='sidebar-module'>
    <div class='row'>

      <!-- 1st row -->
      <div class='col-md-2'>
      </div>
      <div class='col-md-2 col-sm-2 col-xs-2'>
        <a class='btn btn-default right-menu-social-icons facebook-hover' href='#' role='button'>F</a>
      </div>
      <div class='col-md-2 col-sm-2 col-xs-2'>
        <a class='btn btn-default right-menu-social-icons twitter-hover' href='#' role='button'>L</a>
      </div>
      <div class='col-md-2 col-sm-2 col-xs-2'>
        <a class='btn btn-default right-menu-social-icons instagram-hover' href='#' role='button'>I</a>
      </div>

    </div>
    <div class='row'>
      <!-- 2nd row -->
      <div class='col-md-2'>
      </div>
      <div class='col-md-2 col-sm-2 col-xs-2'>
        <a class='btn btn-default right-menu-social-icons tumblr-hover' href='#' role='button'>O</a>
      </div>
      <div class='col-md-2 col-sm-2 col-xs-2'>
        <a class='btn btn-default right-menu-social-icons pinterest-hover' href='#' role='button'>P</a>
      </div>
      <div class='col-md-2 col-sm-2 col-xs-2'>
        <a class='btn btn-default right-menu-social-icons vimeo-hover' href='#' role='button'>V</a>
      </div>
    </div>

  </div>
  <hr>
  <!-- /Social Media Links -->

  <!-- Copyright module -->
  <div class='sidebar-module'>
    <div class='col-md-12 bottom-element'>

      <% unless user_signed_in? %>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
      <% end %>

      <div>
        <p class='text-center'>Copyright</p>
        <p class='text-center'>Anna Huk</p>
        <p class='text-center'>and</p>
        <p class='text-center'>Michal Zagrodzki</p>

        <% if user_signed_in? %>
          <%= link_to(destroy_user_session_path, :method => :delete) do %>
            <button class='btn btn-default btn-block' role='button'>Log Out</button>
            <hr>
          <% end %>
        <% end %>

      </div>
    </div>
  </div>
  <!-- /Copyright module -->

  <!-- Admin module -->
  <% if user_signed_in? %>

    <div class='sidebar-module'>

      <ul class='list-unstyled'>
        <%= link_to(new_story_path) do %>
          <li>
            <button class='btn btn-default btn-block' role='button'>Create Story</button>
          </li>
        <% end %>
        <br>
        <%= link_to(new_picture_path) do %>
          <li>
            <button class='btn btn-default btn-block' role='button'>Upload Pictures</button>
          </li>
          <br>
        <% end %>
      </ul>
    </div>

  <% end %>
  <!-- /Admin module -->

</div>

<% content_for :stick_menu do %>
  <!-- Loading stick_right_menu -->
  <script type="text/javascript" src="stick.js"></script>
<% end %>