.col-md-2
  -# Title
  .sidebar-module
    %h2.text-center #{link_to 'Million Stories', welcome_index_path}

  -# Search Module
  .sidebar-module
    = form_tag stories_path, :method => 'get', class: 'input-group', id: 'search-form' do
      = text_field :search, params[:search], class: 'form-control', placeholder: 'Search story'
      -#= submit class: 'btn btn-default' // refactor

  .sidebar-module{"data-no-turbolink" => "true"}
    %button.btn.btn-default.btn-block #{link_to 'Map', map_path }
  %hr/

  -# About and Contact Module
  %div.sidebar-module
    %button.btn.btn-default.btn-block #{link_to 'About', about_us_index_path}
    %button.btn.btn-default.btn-block #{link_to 'Contact us', contact_url}

  -# Social links buttons
  .col-md-4
    %button.btn.btn-default.disabled 1
  .col-md-4
    %button.btn.btn-default.disabled 2
  .col-md-4
    %button.btn.btn-default.disabled 3
  .col-md-4
    %button.btn.btn-default.disabled 4
  .col-md-4
    %button.btn.btn-default.disabled 5
  .col-md-4
    %button.btn.btn-default.disabled 6

  -# Copyrights
  .sidebar-module
    .col-md-12
      %div
        %p.text-center Copyright
        %p.text-center Anna Huk
        %p.text-center and
        %p.text-center Michal Zagrodzki
