<div class='col-md-2'>
  <!-- Title -->
  <%= link_to(welcome_index_path) do  %>
    <div class='sidebar-module'>
      <h2 class='text-center'>Million Stories</h2>
    </div>
  <% end %>
  <!-- /Title -->

  <!-- Map module -->
  <div class='sidebar-module' data-no-turbolink>
    <%= link_to(map_path) do %>
      <button class='btn btn-default btn-block' role='button'>Map</button>
    <% end %>
  </div>
  <hr>
  <!-- /Map module -->

  <!-- Contact module -->
  <div class='sidebar-module'>
    <ul class='list-unstyled'>
      <%= link_to(about_us_index_path) do %>
        <li>
          <button class='btn btn-default btn-block' role='button'>About</button>
        </li>
      <% end %>
      <%= link_to(contact_url) do %>
        <li>
          <button class='btn btn-default btn-block' role='button'>Contact</button>
        </li>
      <% end %>
    </ul>
  </div>
  <hr>
  <!-- /Contact module -->

  <!-- Social Media Links -->
  <div class='sidebar-module'>
    <div class='row'>

      <!-- 1st row -->
      <div class='col-md-4'>
        <a class='btn btn-default disabled' href='#' role='button'>1</a>
      </div>
      <div class='col-md-4'>
        <a class='btn btn-default disabled' href='#' role='button'>2</a>
      </div>
      <div class='col-md-4'>
        <a class='btn btn-default disabled' href='#' role='button'>3</a>
      </div>

      <!-- 2nd row -->
      <div class='col-md-4'>
        <a class='btn btn-default disabled' href='#' role='button'>4</a>
      </div>
      <div class='col-md-4'>
        <a class='btn btn-default disabled' href='#' role='button'>5</a>
      </div>
      <div class='col-md-4'>
        <a class='btn btn-default disabled' href='#' role='button'>6</a>
      </div>
    </div>
  </div>
  <hr>
  <!-- /Social Media Links -->

  <!-- Copyright module -->
  <div class='sidebar-module'>
    <div class='col-md-12'>
      <div>
        <p class='text-center'>Copyright</p>
        <p class='text-center'>Anna Huk</p>
        <p class='text-center'>and</p>
        <p class='text-center'>Michal Zagrodzki</p>
        <% unless user_signed_in? %>
          <%= link_to(new_user_session_path) do %>
            <button class='btn btn-default btn-block' role='button'>Log In</button>
          <% end %>
        <% end %>

        <% if user_signed_in? %>
          <%= link_to(destroy_user_session_path, :method => :delete) do %>
            <button class='btn btn-default btn-block' role='button'>Log Out</button>
            <hr>
          <% end %>
        <% end %>

      </div>
    </div>
  </div>
  <!-- /Copyright module -->
  <% if user_signed_in? %>

    <div class='sidebar-module'>

      <ul class='list-unstyled'>
        <%= link_to(new_story_path) do %>
          <li>
            <button class='btn btn-default btn-block' role='button'>Create Story</button>
          </li>
        <% end %>
        <br>
        <%= link_to(new_picture_path) do %>
          <li>
            <button class='btn btn-default btn-block' role='button'>Upload Pictures</button>
          </li>
        <% end %>
      </ul>
    </div>

  <% end %>

</div>