<div class='col-md-10 main-page-background'>
  <!-- Story loop -->
  <% stories.each do |story| %>
    <!-- Story Thumbnail of <%= story.name %>-->
    <div class='col-md-4'>
      <!-- Link to story-->
      <%= link_to(story, data: { no_turbolink: true } ) do %>
        <div>
          <!-- Image of story -->
          <div class= "thumbnail main-page-image">
          <%= image_tag(story.main_page_image, alt: 'Thumbnail image') %>

            <!-- Title of story-->
            <h3 class='text-center main-page-title'><%= story.name %></h3>
            <!-- Date of last update of story -->
            <p class='text-center main-page-date'><%= story.updated_at.strftime("%e.%m.%Y") %></p>

          <% if user_signed_in? %>
            <%= link_to(edit_story_path(story)) do %>
                <button class='btn btn-default btn-block' role='button'>Edit Story</button>
            <% end %>
          <% end %>
          </div>
        </div>
      <% end %>
    </div>
    <!-- /Story Thumbnail of <%= story.name %> -->
  <% end %>

  <!-- Button for next stories -->
  <div class='col-md-12'>
    <a class='btn btn-default btn-block load-more-stories-button' href='#' role='button'>Load more stories</a>
  </div>
  <!-- /Button for next stories -->

</div>