<div class='col-lg-10 col-md-10 col-sm-12 col-xs-12 main-page-background'>
  <!-- Story loop -->
  <% stories.each do |story| %>
    <!-- Story Thumbnail of <%= story.name %>-->
    <div class='col-lg-4 col-md-4 col-sm-6 col-xs-12 col-xs-12-landscape'>
      <!-- Link to story-->
      <article>
        <%= link_to(story) do %>
          <div>
            <!-- Image of story -->
            <figure>
              <div class= "thumbnail main-page-image">
              <%= image_tag(story.main_page_image, alt: 'Thumbnail image') %>
                <figcaption>
                  <!-- Title of story-->
                  <h3 class='text-center <%= title_length(story.name) %>'><%= story.name.truncate(30) %></h3>
                  <!-- Date of last update of story -->
                  <p class='text-center main-page-date'><%= story.updated_at.strftime("%e.%m.%Y") %></p>
                </figcaption>
              <% if user_signed_in? %>
                <%= link_to(edit_story_path(story)) do %>
                    <button class='btn btn-default btn-block' role='button'>Edit Story</button>
                <% end %>
              <% end %>
              </div>
            </figure>
          </div>
        <% end %>
      </article>
    </div>
    <!-- /Story Thumbnail of <%= story.name %> -->
  <% end %>
</div>