<div class='col-md-10 '>
  <br>
  <div class="panel panel-default">
    <div class="panel-body">
    <br>
    <br>
    <br>
    <div class="col-md-offset-1">
      <div class="col-md-10">
      <h2 class="text-center">Send us a message</h2>
      <p class="text-center">Please fill in all fields.</p>
      <br>
      <br>

      <%= simple_form_for( @contact, html: {class: 'form-horizontal'} ) do |f|	  %>
        <%= f.input :name, label: 'Your name', :required => true %>
        <%= f.input :email, label: 'Your email address', :required => true %>
        <%= f.input :message, as: :text,:required => true  %>

        <div class="hidden">
          <%= f.input :nickname, hint: 'Do not fill!' %>
        </div>

        <div>
          <br>
          <br>
          <br>
          <br>
          <%= f.button :submit, 'Send message', class: 'btn btn-default btn-block' %>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
        </div>

      <% end %>
    </div>
    </div>
    </div>
  </div>

  </div>
