<% content_for :head_title do %>
    "List of searched stories."
<% end %>

<div class='container'>
  <div class='row'>

    <!-- Left Column - result of search -->
    <div class='col-md-10'>
      <!-- Story loop -->
      <% @stories.each do |story| %>
          <!-- Story Thumbnail of <%= story.name %>-->
          <div class='col-md-4'>
            <!-- Link to story-->
            <%= link_to(story) do %>
                <div class='thumbnail'>
                  <!-- Image of story -->
                  <%= image_tag('malta-story-thumbnail.jpg', alt: 'Thumbnail image') %>
                  <div class='caption'>
                    <!-- Title of story-->
                    <h3 class='text-center'><%= story.name %></h3>
                    <!-- Date of last update of story -->
                    <p class='text-center'><%= story.updated_at.strftime("%e.%m.%Y") %></p>
                  </div>
                </div>
            <% end %>
          </div>
          <!-- /Story Thumbnail of <%= story.name %> -->
      <% end %>

      <!-- Button for next stories -->
      <div class='col-md-12'>
        <a class='btn btn-default btn-block disabled' href='#' role='button'>Load more stories</a>
      </div>
      <!-- /Button for next stories -->

    </div>
    <!-- /Left Column - result of search -->

    <!-- Right Column - Menu -->
        <%= render 'shared/rightmenu'  %>
    <!-- /Right Column - Menu -->

  </div>
  <!-- /row-->

</div>
<!-- /container-->




