<% if user_signed_in? %>
  <div class="container-fluid">
    <br>
    <div class="col-md-offset-2">
    <div class='col-md-9'>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h1 class="text-center">Edit Picture</h1>
          <div class="col-md-4 col-md-offset-4">
          <%= link_to(story_path(picture.story_id)) do %>
            <button class='btn btn-default btn-block' role='button'>Go back</button>
          <% end %>

          </div>
          <br>
          <br>
          <h3 class="text-center">Edit Picture Section</h3>
          <p class="text-center"> Here you edit single picture.</p>
          <p class="text-center"> If you would like to change assigned story, assigned chapter or assigned advice - go to 'Manage Pictures of Story'.</p>
        </div>
        <div class="panel-body">

        <div class="col-md-offset-1">
        <div class="col-md-11">
          <div class="col-md-12">
            <br>
            <%= image_tag(picture.link) %>
          </div>

          <%= simple_form_for( picture, html: {class: 'form-horizontal'} ) do |f| %>
            <%= f.input :title, label: 'Title of picture', hint: 'Field above must be filled.' %>
            <%= f.input :link, label: 'Link to picture on server', hint: 'Field above must be filled.' %>
            <%= f.input :location, label: 'Name of place where picture was taken' %>
            <hr/>
            <%= f.input :latitude, hint: 'Put only numbers and comas.' %>
            <%= f.input :longitude, hint: 'Put only numbers and comas.' %>
        </div>
        </div>
        </div>


      <div class="panel-footer">
      <%= f.button :submit, 'Publish changes.', class: 'btn btn-lg btn-block' %>
      <% end %>
      </div>
    </div>
    </div>
    </div>
  </div>
<% end %>