<% if user_signed_in? %>
  <div class="container">
    <div class='col-md-12'>
      <h1 class="text-center">Edit Picture</h1>
      <%= link_to(_back_url) do %>
        <button class='btn btn-default btn-block' role='button'>Go back</button>
      <% end %>
      <br>
      <h3 class="text-center">Picture Section</h3>
      <p class="text-center"> Here you edit Picture</p>
      <div class="row">

          <div class="col-md-10">
            <div class="col-md-offset-2">
              <div class="thumbnail">
                <%= image_tag(picture.link) %>

              <div class="caption"></div>
              <%= simple_form_for picture do |f| %>
                <%= f.input :title, label: 'Name of picture please', hint: 'Field above must be filled.' %>
                <%= f.input :link, placeholder: 'user@domain.com', hint: 'Field above must be filled.' %>
                <%= f.input :location, placeholder: 'user@domain.com' %>
                <%= f.input :latitude, hint: 'Put only numbers and comas.', placeholder: 'data for google maps' %>
                <%= f.input :longitude, hint: 'Put only numbers and comas.',placeholder: 'data for google maps' %>
              </div>

            </div>
          </div>
      </div>
    </div>

    <div class="col-md-offset-3">
      <div class='col-md-8'>
        <%= f.button :submit, 'Publish changes.', class: 'btn btn-block' %>
          <% end %>
        <br>
        <br>
        <br>
      </div>
    </div>

  </div>

<% end %>