<% if user_signed_in? %>
  <div class="container">
    <div class="container-fluid">
      <br>
      <div class='col-md-12'>
        <div class="panel panel-default">

          <div class="panel-heading">
          <h1 class="text-center">Edit Advice no. <%= advice.id %> of <%= story.name %></h1>
            <div class="col-md-4 col-md-offset-4">
            <%= link_to(story_path(story)) do %>
              <button class='btn btn-default btn-block' role='button'>Go back</button>
            <% end %>
            </div>
          <br>
          <h3 class="text-center">Advice Section</h3>
            <p class="text-center">Here you edit elements of single Advice.</p>
            <p class="text-center">Change text, select images which will be part of this Advice.</p>
          </div>

          <div class="panel-body">

            <div class="panel panel-default">
            <div class="panel-body">

              <%= simple_form_for advice do |f| %>
                <div class="col-md-12">
                  <%= f.input :text, label: 'Text of Advice', hint: 'Field above must be filled.' %>
                </div>
            </div>
            </div>

            <div class="panel panel-default">
            <div class="panel-body">
              <h3 class="text-center">Pictures Section</h3>
              <p class="text-center"> Here you choose which pictures from Story will be shown with this Advice.</p>
              <div class="row">
                <%= f.fields_for :pictures do |picture_form| %>
                  <div class="col-md-4">
                    <div class="thumbnail">
                      <%= image_tag(picture_form.object.link) %>
                      <div class="caption">
                        <%= picture_form.label 'Select picture' %>
                        <%= picture_form.select(:advice_id, @pictures_options) %>
                      </div>
                  </div>
                  </div>
                  <% end %>
                </div>
            </div>
            </div>

          </div>

          <div class="panel-footer">
          <%= f.button :submit, 'Publish changes.', class: 'btn btn-lg btn-block' %>
          </div>
          <% end %>
        </div>


      </div>
    </div>
    </div>

<% end %>