<% if user_signed_in? %>
  <div class="container">
    <div class='col-md-12'>
      <h1 class="text-center">Edit Chapter no. <%= chapter.id %> of <%= story.name %></h1>
      <%= link_to(story_path(story)) do %>
        <button class='btn btn-default btn-block' role='button'>Go back</button>
      <% end %>
      <br>
      <h3 class="text-center">Chapter Section</h3>
      <p class="text-center"> Here you edit elements which are part of single chapter.</p>
        <div class="col-md-12">
          <div class="row">
          <%= simple_form_for chapter do |f| %>
            <div class="col-md-12">
              <%= f.input :text, label: 'Name of story please', hint: 'Field above must be filled.' %>
                <h3 class="text-center">Pictures Section</h3>
                <p class="text-center"> Here you choose which pictures from Story will be shown with this Chapter.</p>
                <%= f.fields_for :pictures do |picture_form| %>
                  <div class="col-md-4">
                  <div class="thumbnail">
                    <%= image_tag(picture_form.object.link) %>
                      <div class="caption">
                        <%= picture_form.select(:chapter_id, @pictures_options) %>
                      </div>
                  </div>
                  </div>
                <% end %>

              <%= f.button :submit, 'Publish changes.', class: 'btn btn-block' %>
              <br>
              <br>
              <br>
            </div>
          <% end %>

          </div>
        </div>

    </div>
  </div>

<% end %>