!!!
/[if IE 8] <html lang="en" class="ie8">
/ [if !IE]><!
%html.ie8{lang: 'en'}
  / <![endif]
  -# BEGINNING OF HEAD
  %head
    %meta{charset: 'utf-8'}
    %meta{content: 'IE=edge", "http-equiv" => "X-UA-Compatible'}

    -# Title Specific Meta
    %title Milion Stories
    %meta{name: 'description', content: :head_title }
    %meta{content: 'Anna Huk and Michal Zagrodzki', name: 'author'}

    -# Mobile Specific Meta
    %meta{content: 'width=device-width, initial-scale=1, maximum-scale=1', name: 'viewport'}

    -# Stylesheets
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true


    -# Script related to IE9
    /[if lt IE 9]
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js></script>
    /[if lt IE 9]
      <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>

    -# Loads libraries required by Google Maps
    = yield :head_maps
    -# END OF HEAD

  -# BEGINNING OF BODY
  %body
    = yield
  -# END OF BODY

  -# Loads coffee script, which passes values from model to controller to Google Maps
  = yield :footer_maps