<!DOCTYPE html>
  <!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
  <!--[if !IE]><!--> <html lang="en" class="ie8"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <!-- Title Specific Meta -->
  <title>Milion Stories</title>


  <meta name="description" content=<%= yield :head_title %>>
  <meta name="author" content="Anna Huk and Michal Zagrodzki">

  <!-- Mobile Specific Meta -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <!-- Stylesheets -->
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js></script>
    <![endif]-->

  <!-- Favicon and Apple Icons
  <link rel="shortcut icon" href="images/icon/favicon.ico">
  <link rel="apple-touch-icon" href="images/icon/apple-touch-icon.png">
  <link rel="apple-touch-icon" sizes="72x72" href="images/icon/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="114x114" href="images/icon/apple-touch-icon-114x114.png"> -->

  <!-- WHEN FONTS WILL BE LOADED, CHOOSE SVG AS FIRST ONE ! IT WILL RENDER PROPERLY IN CHROME -->

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
  <!-- Loads libraries which are required for Google Maps. -->
  <%= yield :head_maps %>

</head>
<!-- END OF HEAD -->

<!-- BEGINNING OF BODY -->
<body>

<%= render 'welcome/messages' %>
<%= yield %>

</body>
<!-- END OF BODY -->

<!-- Loads coffee script, which passes values from model to controller to Google Maps -->
<%= yield :footer_maps %>
<%= yield :stick_menu %>

</html>
